<!DOCTYPE html>

<html lang = "es">

<head>
    <title>Mercado Liebre</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href = "css/style.css" rel = "stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>



<body>

    <header class = "main-header">
        
        <div class = "main-header-top-bar">
            <a class = "logo" href = "/"><img src= /images/logo-mercado-liebre.svg alt="Logo de Mercado Liebre"></a>

                    <div class = "barradebusqueda">
                        <input class = "searchbar" type = "search" placeholder="Buscar productos, marcas y más">
                        <button class = "searchbutton"><i class="fas fa-search"></i></button>
                    </div>
            <h2 class = "frase">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas sin tarjeta de crédito
            </h2>
        </div> 
        
        <a href="#" class = "hamburger-button">
            <i class = "fas fa-bars"></i>
        </a>

        <nav class = "main-navbar">
            <ul type = "left-navbar">
                <li><a href = "#">Ofertas</a></li>
                <li><a href = "#">Tiendas Oficiales</a></li>
                <li><a href = "#">Vender</a></li>
                <li><a href = "#">Ayuda</a></li>
            </ul>

            <ul type = "right-navbar">
                <li><a href = "./register"><i class="far fa-id-card"></i> Crea tu cuenta</a></li>
                <li><a href = "./login"><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
                <li><a href = "#"><i class="fas fa-shopping-basket"></i> Mis compras</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <div class="formulario">
            <form action="/" method="POST">

            <p class="seccion-registro">Datos personales</p>

            <div class="campo-multiple">
                <input class = "campo" type="text" name="nombre" id="nombre" placeholder="Nombre" minlength="2" required>
                <input class = "campo" type="text" name="apellido" id="apellido" placeholder="Apellido" minlength="2" required>
            </div>

            <input class = "campo" type="email" name="email" id="email" placeholder="Correo electrónico" required>
            <input class = "campo" type="text" name="username" id="user" placeholder="Nombre de usuario" required>
            <input class = "campo" type="password" name="contraseña" id="password" placeholder="Contraseña" required minlength="8">
            <input class = "campo" type="password" name="contraseña2" id="password2" placeholder="Confirmar contraseña" required minlength="8">

            <div class="campo-multiple">
                <label for="profile-picture">Foto de Perfil</label>
                <input class = "campo" type="file" name="profile-picture">
            </div>

            <br>

            <p class="seccion-registro">Fecha de nacimiento</p>
            <input class = "campo" type="date" name="birthdate" id="birthdate" required>
        
            <p class="seccion-registro">Domicilio</p>            
                <input class = "campo" type="text" name="Calle" id="domicilio" placeholder="Calle" required>
            <br>
            <div class="campo-multiple">
                <input class = "campo" type="text" name="Numero-Exterior" id="domicilio" placeholder="Numero Exterior">
                <input class = "campo" type="text" name="Código Postal" id="domicilio" placeholder="Código Postal">
                <input class = "campo" type="text" name="Numero-Interior" id="domicilio" placeholder="Número Interior">
            </div>
            <div class="campo-multiple">
                <input class = "campo" type="text" name="Ciudad" id="domicilio" placeholder="Ciudad" required>
                <input class = "campo" type="text" name="Estado" id="domicilio" placeholder="Estado" required>
            </div>


            <p class="seccion-registro">Preferencias</p>  
            
            <label for=profiletype>¿Para qué quieres utilizar tu cuenta?</label>
            <div>
                <input type="radio" name="profiletype" value="comprar"> <label for= "comprar">Comprar</label>
                <input type="radio" name="profiletype" value="vender"> <label for= "vender">Vender</label>
            </div>

            <br>

            <label for=category>Selecciona las cartegorías de tu interés:</label>

            <br>

            <input type="checkbox" name="category" value="electronica"> <label for= "electronica">Electrónica</label>
            <br>
            <input type="checkbox" name="category" value="moda"> <label for= "moda">Moda</label>
            <br>
            <input type="checkbox" name="category" value="hogar"> <label for= "hogar">Hogar</label>
            <br>
            <input type="checkbox" name="category" value="jugueteria"> <label for= "jugueteria">Juguetería</label>
            <br>
            <input type="checkbox" name="category" value="vida-sana"> <label for= "vida-sana">Vida Sana</label>

            <br>
            <br>



            <button class="cancelbutton" type="reset">Cancelar</button>
            <br>
            <a href = "/"> </a><button class="registerbutton" type="submit">Enviar</button></a>
        </form>

    </div>
        
    

    </main>



    <footer>
        <div class= "beneficios">
        <div class = "beneficio">
            <i class="fas fa-credit-card" id="icon"></i>
            <div>
                <strong>Paga con tarjeta o en efectivo</strong>
                <p class = "terms">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </div>

        <div class = "beneficio">
            <i class="fas fa-gift" id="icon"></i>
            <div>
                <strong>Envío gratis desde $2,500</strong>
                <p class = "terms">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </div>
            
        <div class = "beneficio">
            <i class="fas fa-user-shield" id="icon"></i>
            <div>
                <strong>Seguridad, de principio a fin</strong>
                <p class = "terms">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        </div>

            <p class = "copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
    
</body>

</html>