/*

GENERALES

Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a;

*/


/* MOBILE */
/* Universal */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

section {
    width: 90%;
    margin: auto;
}

/* Header */

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.barradebusqueda {
    display: flex;
    width: 50%;
}

.searchbar {
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.searchbutton {
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.logo {
    width: 50%;
    align-self: flex-start;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.frase {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

.hamburger-button {
    background-color: #1259c3;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-size: 18px;
    margin: auto;
    max-width: 50px;
    padding: 15px 0px;
    text-align: center;
}

.main-navbar {
    display: none;
    margin-top: 15px;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    color: #000000;
    display: inline-block;
    font-size: 16px;
    padding: 5px 0px;
    text-decoration: none;
}

/* Main */

.banner {
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.section-name {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
    font-size: 24px;
}

article {
    margin: 10px;
    background-color: #ffffff;
    transition: 450ms
}

#truck {
    color: #39B54A;
    display: block;
    font-size: 16;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39B54A;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
        right: 20px;
        top: -15px;
}

.product-img {
    width: 270px;
}

.product-info {
    position: relative;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 270px;
}

.product-price {
    font-size: 18px;
    text-align: center;
    width: 30%;
}

.product-name {
    display: none;
    font-size: 16px;
}

.discount {
    color: #39B54A;
    font-size: 16px;
    text-align: center;
    width: 70%;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100,100, 100);
}

article:hover .product-name {
    display: block;
    color: #ffffff;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
        left: 0px;
        top: -30px;
}

/* Footer */


strong {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #666;
}

footer {
    background-color: white;
    padding: 30px;
    text-align: center;
}

.terms {
    color: #666;
    font-size: 12px;
    margin-top: 13px;
}

.copyright {
    color: #666;
    font-size: 12px;
    margin-top: 30px;
    text-align: left;
}

#icon {
   color: #1259c3;
   font-size: 2em;
   margin-bottom: 10px;
   transition: 250ms;
}

.beneficio {
    margin-bottom: 25px;
    padding: 10px;
}




/* TABLET */

@media (min-width: 361px) {

    .barradebusqueda {
        width: 30%;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100,100, 100);
    }

    .hamburger-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-header-top-bar {
        display: flex;
        align-content: space-between;
    }

    .frase {
        width: 30%;
        max-width: 350px;
        text-align: right;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .discount, .product-price {
        margin-left: 15px;
        font-size: 14px;
    }

}


/* DESKTOP */
@media (min-width: 769px) {

    .beneficios {
        display: flex;
        justify-content: space-around;
    }

    .beneficio{
        width: auto;
        max-width: 400px;
    }

    #icon:hover {
        color: #EAC926;
    }
}


/*Registro*/

.formulario {
    max-width: 600px;
    margin: auto;
    margin-bottom: 35px;
    padding: 30px;
}

.seccion-registro {
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.campo {
    border: none;
    font-family: Roboto, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
    border-radius: 5px;
    background-color: #fff;
}

.campo-multiple {
    display: flex;
    justify-content: space-between;
}

.cancelbutton {
    padding: 10px;
    border-radius: 5px;
    transition: 200ms;
    background-color: #888;
    color: #ffffff;
    border: none;
    width: 100%;
    font-weight: 800;
    margin-bottom: 20px;
}

.cancelbutton:hover {
    background-color: #666;
    color: #ffffff;
}

.registerbutton {
    padding: 10px;
    border-radius: 5px;
    transition: 200ms;
    background-color: #03264C;
    color: #ffffff;
    border: none;
    width: 100%;
    font-weight: 800;
    margin-bottom: 20px;
}

.registerbutton:hover {
    background-color: #0022AA;
    color: #ffffff;
}

/*Login*/

.login {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}

#username, #contraseña {
    border:none;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.loginbutton {
    padding: 10px;
    border-radius: 5px;
    transition: 200ms;
    background-color: #03264C;
    color: #ffffff;
    border: none;
    width: 100%;
    font-weight: 800;
    text-decoration: none;
}

.loginbutton:hover {
    background-color: #0022AA;
    color: #ffffff;
}